*{margin: 0px; padding: 0px;}

@import url('https://fronts.googleapis.com/css2?family=Lato:ital, wght@0, 100;0,300;0;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

body{font-family: "Lato", sans-serif; font-size: 14px ; color: rgba(0,0,0, 0.8);}

.bg-blue{
    background: #233a95;

    overflow-x: hidden;
}

@media (min-width:1300px){
    .container, .container-1g, .container-md, .container-sm, .container-xl{

        max-width: 1200px;
    }

}


.cursor{
    cursor: pointer !important;
}
.text-light{

    color: #8b8b8b !important;
}

.text-sml{
    font-size: 14px;
}
::-webkit-scrollbar{
    width: 8px !important;
    height: 8px !important ;

}


::-webkit-scrollbar-thumb{
background: #ccc !important;

}
::-webkit-scrollbar-track{
    background: transparent !important;
    
}



.headerWrapper{
    border-bottom: 1px solid rgba(0,0,0,0.1);

    padding-bottom: 10px;
}

.headerWrapper .top-strip{
    padding: 8px 0px;
}
.headerWrapper .top-strip p{
    color: #fff; 
    font-size: 12px; 
    font-weight: 700;

}


.headerWrapper .header{
    width: 100%; 
    height: auto; 
    padding: 15px 0px;
}
.logoWrapper img{
    width: 100%;
}

.headerWrapper .header .part2 .countryDrop{
    width:170px; 
    height: 80px; 
    min-width:170px; 
    color: #000 !important;
     border: 1px solid rgba(0,0,0,0.2) !important; 
     border-radius: 7px !important;
     padding: 10px 15px !important;
}
.headerWrapper .header .part2 .countryDrop{
    text-align: left; 
    justify-content: flex-start !important; 
}
.headerWrapper .header .part2 .countryDrop .label{
    font-size:12px !important; 
    text-transform:capitalize !important;
    color:rgba(0,0,0,0.4) !important; 
    line-height:16px
}
.headerWrapper .header .part2 .countryDrop .name{
    font-size:14px !important; 
    text-transform:capitalize !important; 
    color:#233a95 !important;
    font-weight: 700;
    line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
    opacity: 0.7;
}

.headerSearch {
    width: 60%; 
    height: 50px; 
    background: #d9dadf; 
    padding: 10px; 
    position: relative;
    margin-left: 10px; 
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
}
.headerSearch input {
    background: transparent !important; 
    outline: none !important; 
    font-size: 16px; 
    color: rgba(0,0,0,0.8); 
    width: 100%; 
    height: 40px;
     border: 0px !important; 
     padding: 0px 20px !important;
}

.headerSearch button {
    position:absolute; 
    top: 10px; 
    right: 10px; 
    z-index: 100;
    min-width: 40px !important;
    height: 40px !important; 
    width: 40px !important; 
    border-radius: 50% !important; 
    color:#000 }

.headerSearch button svg {
    font-size: 25px;
    opacity: 0.8;

}


header .part3 .circle{
 
    align-items: center;
    justify-content: center;
    min-width:45px  !important;
    height: 45px  !important;
    width: 45px !important;
    border-radius: 50% !important;
    border: 1px solid rgba(0,0,0,0.1);
    color: #000;
}


header .part3 .circle svg{
    font-size: 22px;

}



.part3 {

    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between; */

}

.cartTab{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartTab .price {
 
    font-size: 18px;
    color: rgba(0,0,0, 0.8);
    font-weight: 700;
}

.cartTab button {


    background: #fff1ffee !important;

}

.cartTab button svg{

    color: #ea2b0f !important;

}

.cartTab .count{

    position:absolute;
    top: -6px;
    right: -4px;
    background: #ea2b0f;
    border-radius: 50%;
    color: #fff;
    display: flex;
    width: 20px;
    height: 20px;
    
} 


.locationModal .MuiPaper-elevation {
    padding: 25px;
    position: relative;
}

.locationModal .countryList {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.locationModal .countryList li{

    width: 100%;
    list-style: none;
}
.locationModal .countryList li button{
    width: 100%;
    text-transform: capitalize !important;
    color: #000 !important;
    justify-content: flex-start !important;

    padding: 15px 20px !important;
    
}

.locationModal .countryList li button:hover{

    background: #f1f1f1!important;
}

.locationModal .countryList li button.acitive{

    background: #ccc!important;
}

.locationModal .close_{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000 !important;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;

}



.locationModal .close_ svg{
    font-size: 22px;
    opacity: 0.7;


}

nav {
  position: relative;
  z-index: 9999; /* cao hơn banner */
}

nav .navPart1{

    max-width: 20%;
    flex: 0 0 20%;


}

nav .navPart2{

    max-width: 80%;
    flex: 0 0 80%;


}

nav .navPart1 .catWrapper{
    position: relative;


}

nav .navPart1 .catWrapper .sidebarNav{

    width: 100px;
    height: 0px;

    opacity: 0;

    background: #fff; 
    position: absolute;
    left: 0px;
    top: 140%;
    min-width: 200px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 15px 0px;
    transition: all 0.2s;
    visibility: hidden;
    z-index: 200;

}

nav .navPart1 .catWrapper .sidebarNav.open{
    height:auto;

    opacity: 1;
    visibility: visible;


}

nav .navPart1 .catWrapper .sidebarNav ul li{
    list-style: none;
    width: 100%;

    padding: 0px 10px;

    left: 100%;

}

nav .navPart1 .catWrapper .sidebarNav li button{
/* 
    display: flex; */
    width: 100%;
    color: #000;

    justify-content: space-between;
    text-transform: capitalize !important;

}

nav .navPart1 .catWrapper .sidebarNav li button svg{

    font-size: 13px;
    opacity: 0.6;
}

nav .navPart1 .catWrapper .sidebarNav li button:hover{
    background: transparent !important;


}


nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
    position: absolute;
    top: 0%;

    left: 102%;
    width: 250px;
    height: 100%;

    background: #fff;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    padding: 20px;
    border-left: 1px solid rgba(0,0,0,.1);

      z-index: 9999;

    

}
nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{

    opacity: 1;
    visibility: inherit;
    left: 100%;

    padding: 20px;
    z-index: 9999;

}





nav .allCatTab{
    background: #2bbef9; 
    padding: 10px 15px  !important; 
    border-radius: 30px !important;
}


nav .allCatTab *{color: #fff;}

nav .allCatTab:hover{


    background: #2bbef9;

}

nav .allCatTab .text{
    font-weight: 600;
    font-size: 14px;

}


nav .allCatTab .icon1 svg {

    font-size: 20px !important;
}

nav .allCatTab .icon2 svg {

    font-size: 20px !important;
}

nav {
  padding: 10px 0;
}

nav .navPart2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav .navPart2 ul li {
  margin-right: 20px;
}

nav .navPart2 ul li a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

nav .navPart2 ul li a:hover {
  text-decoration: none;
}


nav .navPart2 ul {

    margin-bottom: 0px;

}
nav .navPart2 ul li a{

    text-decoration: none;
}
nav .navPart2 ul li a button{
    font-size: 16 px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0,0,0, 0.7);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 8px 13px;
    transition: all 0.2s ease-in-out;
    border-radius: 30px;
}

nav .navPart2 ul li a svg{
    font-size: 20px;

}
nav .navPart2 ul li a:hover{

    background: #f0faff;
    color: #2bbef9;
}
nav .navPart2 ul li{
    position: relative;
}
nav .navPart2 ul li .submenu{
position: absolute;
top: 150%;
left: 0px;
min-width: 300px;
visibility: hidden;
background: #fff;
opacity: 0;
transition: all 0.3s ease-in-out;
}

nav .navPart2 ul li .submenu a{

    display: block;
    width: 100%;

}

nav .navPart2 ul li .submenu a button{

    width: 100%;
    justify-content: flex-start !important;
    border-radius: 0px !important;
    text-transform: capitalize !important;
    front-weight: 400 !important; 

}

nav .navPart2 ul li .submenu a button:hover{

    background: #f0faff !important;
    color: #2bbef9 !important;

}
nav .navPart1 .catWrapper .sidebarNav ul li{


    position: static;
    padding-right: 15px;
}


nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
    position: absolute;
    top: 0px;
    left: 100%;
    width: 250px;
    height: 100%;
    background:#fff;
    z-index: 100;


    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease-in-out;

    border-left: 1px solid rgba(0,0,0,0.1);

    padding: 0px 10px;


}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{

    left: 100%;

    padding: 20px;

    visibility: inherit;
    opacity: 1;
}


nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button{



    border-radius: 0px !important;

}


nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button svg{

    font-size: 12px ;
    opacity: 0.6;



}

nav .navPart2 ul li:hover .submenu{
    top: 100%;
    visibility: visible;
    opacity: 1;
}





.homeBannerSection{


    position: relative;
    overflow: hidden;

    z-index: 100;

    overflow: visible;

}


.homeBannerSection *{

    outline: none !important;

}


.homeBannerSection .slick-arrow{

    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;

    justify-content: center;

    width: 40px !important;

    height: 40px !important;
    background: #444444;

    border-radius: 100% !important;

    font-weight: bold;



}

.homeBannerSection .slick-arrow.slick-next{

    right:25px !important;
}

.homeBannerSection .slick-arrow.slick-prev{

    left:25px !important;
}


.homeBannerSection .slick-arrow.slick-next::before{

    color: #fff;
    
    font-family: "Font Awesome 6 Free";

}

.homeBannerSection .slick-arrow.slick-prev::before{

    color: #fff;
    
    font-family: "Font Awesome 6 Free";

}


/* .slick-next::before{
     content: "\f104"; /* left arrow */
/* }

.slick-prev::before{


    content: "\f105"; 
} */ */


.homeBannerSection {
    

    cursor: pointer;
}


.homeProducts{

    padding: 25px 0px;

    width:100%;

    z-index: 100;
}


.homeProducst .banner{
    

    width:100%;

    border-radius: 10px;
    overflow:hidden;
}


 .hd{

    font-size: 20px;

    font-weight: 600;
    text-transform: uppercase;
}


.productRow .hd{
    font-size: 25px;
    font-weight: 600;

}

.viewAllBtn{

    padding: 8px 15px !important;
    background: #fff !important;

    border: 1px solid rgba(0,0,0,0.1) !important;

    border-radius: 30px !important;
    color: #000 !important;
    font-weight: 600 !important;

    text-transform: capitalize !important;
}


.viewAllBtn svg{

    font-size: 20px;
    opacity: 0.7;

}




.productItem{

    cursor: pointer;

    width: 100%;
    height: auto;

    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;

    position: relative;
}


.productItem .badge{

    display: inline-block;

    padding: 7px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}
.productItem .info{

    padding: 15px;


}


.productItem .info h4{

    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;

}


.productItem .info .oldPrice{

    font-size: 16px;
    font-weight: bold;

    color: rgba(0,0,0,0.2);

    text-decoration: line-through;

}

.productItem .info .netPrice{

    font-size: 16px;
    font-weight: bold;

    
}


.productItem .actions{

    position: absolute;

    top: 20px;
    right:-100%;
    z-index:1000;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: all 0.3s ease-in-out;

}


.productItem .actions button{

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 40px !important;

    height: 40px !important;
    width: 40px !important;
    border: 1px solid rgba(0,0,0,0.1) !important;

    border-radius: 50% !important;
    background: #fff !important;

    box-shadow:  0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;

    transition: all 0.3s !important;


}


.productItem .actions button svg{
    
    
    color:#000 !important;

    opacity: 0.8;

    pointer-events: none;

    font-size: 15px !important;



}

.productItem .actions button:hover{

    background: #233a95 !important;

}

.productItem .actions button:hover svg{

    color: #fff !important;
    
}

.productItem .imgWrapper{

    overflow: hidden;
}


.productItem .imgWrapper img{
    transition: all 0.3 ease-in-out;
}




.productItem .imgWrapper:hover .actions{

    opacity: 1;
    right: 10px;
    
}

.productItem .imgWrapper:hover img{

    transform: scale(1.1);
}



.product_row  .productItem{
    border-right: 1px solid transparent !important;
}


.product_row .swiper-slide:last-child .productItem{

    border: 1px solid rgba(0,0,0,0.1) !important;
}





.swiper{

    padding-right: 1px !important;
}



.badge-primary{

    background: #ff4d4f !important;
    color: #fff !important;

}

 .homeCat{

    padding: 35px 0px;



}

.homeCat .swiper{

    overflow: inherit !important;

}


.homeCat .swiper .item {


    padding: 15px;

    width: 100%;

    height: auto;



    /* border-radius: 10px; */
     /* text-align: center; */





}






.homeCat .swiper .item img{


    width: 80%;

      /* max-width: 90px; 
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto; */

}



.homeCat .swiper-button-prev, .homeCat .swiper-button-next{

    top: -30px !important;

    width: 30px !important;

    height: 30px !important;

}


.homeCat .swiper-button-prev{

    right: 68px !important;
    left: inherit !important;
}


.homeCat .swiper-button-prev, .homeCat .swiper-button-next::after{

    font-size: 12px !important;

}



.productRow2{

    flex-wrap: wrap;

    gap: 10px;
}


.productRow2 .productItem{


    width: 23%;

    overflow: hidden;
    border-right: 1px solid rgba(0,0,0,0.1 ) !important;


}


.bannerSec{
    gap: 15px;
}


.sticky{

    position: sticky;

    top: 100px;
    z-index: 100;
}


.newsLetterSection{

    width: 100%;

    height: 400px;

    background: #233a95;

    position: relative;

    overflow: hidden;
    padding: 100px  0px;

}


.newsLetterSection .col-md-6{
    position: static !important;
}



.newsLetterSection p{

    font-size: 18px;

    margin: 10px 0px !important;

}

.newsLetterSection .h3{

    font-size: 30px;
    font-weight: bold;

}


.newsLetterSection p.text-light{

    color: #fff !important;

    opacity: 0.5;

    font-size: 15px;


}


.newsLetterSection img{

    position: absolute;

    bottom: 0px;

    right: 0px;
}


.newsLetterSection form{

    width: 100%;

    height: 60px;

    background: #fff;

    padding:  10px;
    position: relative;

    border-radius: 5px;
}

.newsLetterSection form svg{

    position: absolute;
    top: 17px;
    left: 10px;
    font-size: 25px;

    opacity: 0.3;


}


.newsLetterSection form input{

    width: 100%;
    height: 100%;

    background: #fff !important;

    outline: none !important;
    border: 0px !important;
    
    padding-left:40px;

    padding-right: 200px;



}

.newsLetterSection form button{


    position: absolute;
    top: 6px;
    right: 7px;
    background: #233a95 !important;
    font-size: 14px !important;

    padding: 12px 25px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;


}


footer {

    width: 100%;
    height: 500px;

    margin: auto;
    background: #fff;
    padding:35px 0px;

}

footer .topInfo{

    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
}

footer .topInfo .col{

    padding: 10px 15px;
    padding-left: 40px;

    border-right: 1px solid rgba(0,0,0,0.2);
}

footer .topInfo .col:last-child{

    border-right: 0px;
}

footer .topInfo .col svg{

    font-size: 26px;
}


footer .topInfo .col span{

    font-size: 14px;
    font-weight: 600;
}


footer .linksWrap h5{


    font-size: 17px;
    margin-left: 0;

    padding-left: 0;
    font-weight: 600;

    margin-bottom: 20px;



}

footer .linksWrap ul { 
    padding-left: 0; /* KHẮC PHỤC: Xóa khoảng đệm mặc định của UL */
    margin: 0;      /* Tùy chọn: Đảm bảo không có lề trên/dưới dư thừa */
}


footer .linksWrap ul li{

    list-style: none;

    margin-bottom: 10px;


}

footer .linksWrap ul li a{

    color: #71778e;
    font-size: 13px;

    text-decoration: none;
}
footer .linksWrap ul li a:hover{

    text-decoration: dotted;
}

footer .copyright ul li a{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}


footer .copyright ul li a svg{

    font-size: 16px;
    color: rgba(0,0,0, 0.8);

}

footer .copyright ul li a:hover{

    background: #2bbef9 !important;
}


footer .copyright ul li a:hover svg{

    color: #fff !important;
}